.place{
    margin: 0 auto;
    padding: 0;
    max-width: 984px;
    display: grid;
    gap: 50px;
    padding-top: 62px;
}

.place__item{

    margin: 0;
    width: 100%;
    gap: 30px;
    display: grid;
    grid-template-areas: 
        "title" 
        "artist"
        "image"
        "description"
        "button";
    box-sizing: border-box;
}



.place__title{
    grid-area: title;
    margin: 0 auto;
    padding-left: 16px;
    padding-right:16px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 32px;
    font-style: normal;
    line-height: 35px;
    align-self: end;
    text-align: left;
    width: 100%;
    box-sizing: border-box;

}

.place__artist{
    padding-left: 16px;
    padding-right:16px;
    grid-area: artist;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 122%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    box-sizing: border-box;

}
.place__artist-name{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.place__artist-second{
    margin: 0;
}

.place__artist-heading{
    margin: 0;
    color: #AAAAAA;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    align-self: flex-start;
    justify-self: flex-start;
    align-items: baseline;
    padding-bottom: 8px;
}

.place__image{
    grid-area: image;
    width: 100%;
    margin: 0 auto;
}


.place__description{
    grid-area: description;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 163%;
    padding-left: 16px;
    padding-right:16px;
    box-sizing: border-box;
}

.place__paragraph{
    margin: 0 0 25px 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
}

.place__paragraph:last-of-type{
    margin: 0;
}

.place__button{
    grid-area: button;
    background-color: #0278FE;
    color: #FFFFFF;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: 22px;
    border-radius: 4px;
    text-decoration: none;
    width: 288px;
}

.place__button:hover{
    background-color: #0063D2;
}

@media screen and (min-width: 640px) {
    .place{
        gap: 72px;
        padding-top: 88px;
    }
    .place__item{
        gap: 25px;
        display: grid;
        grid-template-rows: auto auto 1fr;
        grid-template-areas: 
        "title artist"
        "image description"
        "button description";
        grid-template-columns: 340px 1fr;
        padding-left: 24px;
        padding-right: 24px;
    }

    
    .place__artist{
        margin: 0;
        padding:0;
        align-self: flex-end;
    }

    .place__button{
        width: 248px;
        height: 48px;
        margin-top: 23px;
        margin-left: 0;
        margin-right: 0;
    }

    .place__title{
        padding-bottom: 0;
        padding-right: 0;
        margin-right: 0;
        font-size: 42px;
        line-height: 46px;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

}

  @media screen and (min-width: 1080px) {
    .place{
        padding-top: 92px;
        gap: 80px;
    }

    .place__item{
        gap: 40px;
        grid-template-columns: 460px 1fr;
        padding-top: 0;
    }

    .place__title{
        font-size: 72px;
        line-height: 76px;
        display:flex;
        flex-direction: column;
        width: 460px;
    }
    
    .place__description{
        margin-left: 0;
    }

    .place__paragraph{
        font-size: 18px;
        line-height: 29.34px;
    }

} 